PROD=0

GET_ARTISTS_URL=https://event-sonar.local/scrap/artists
GET_EVENTS_URL=https://event-sonar.local/scrap/events
GET_PLACES_URL=https://event-sonar.local/scrap/places
GET_PLANNERS_URL=https://event-sonar.local/scrap/planners

POST_EVENT_URL=https://event-sonar.local/scrap/event
POST_EVENT_IMAGE_URL=https://event-sonar.local/scrap/event/image/:id
POST_EVENTS_ARTIST_URL=https://event-sonar.local/scrap/events/artist
POST_EVENTS_PLACE_URL=https://event-sonar.local/scrap/events/place
POST_EVENTS_PLANNER_URL=https://event-sonar.local/scrap/events/planner

API_TOKEN=xxx